@import "../node_modules/imagehover.css/css/imagehover.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
[class^="imghvr-"] figcaption {
  background-color: white;
  color: #554833;
  padding: 10px;
  text-align: center;
}
[class^="imghvr-"] figcaption h3 {
  text-align: center;
  color: #554833;
  margin-top: 40px;
}
[class*="imghvr-"] {
  background-color: white;
}
.line{
  font-size: 18px;
  color: #554833;
  font-weight: 600;
}
h1{
  font-size: 28px;
  color: #554833;
  font-weight: 600;
}
.secret-p {
  font-size: 13px;
  color: #554833;
  letter-spacing: 0.01em;
  font-weight: 400;
  line-height: 15px;
}
.contact {
  font-weight: 400;
  letter-spacing: 0.18em;
}
.lorem-text {
  color: #554833;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.01em;
}
.contact-info {
  font-weight: 600;
  font-size: 18px;
  color: #554833;
}
